
* { margin: 0; padding: 0; }
body { font: 16px Helvetica, Sans-Serif; line-height: 24px; background: url(images/noise.jpg); }
.clear { clear: both; }
#page-wrap { width: 800px; margin: 40px auto 60px; }
#pic { float: right; margin: -30px 0 0 0; }
h1 { margin: 0 0 16px 0; padding: 0 0 16px 0; font-size: 42px; font-weight: bold; letter-spacing: -2px; border-bottom: 1px solid #999; }
h2 { font-size: 20px; margin: 0 0 6px 0; position: relative; }
h2 span { position: absolute; bottom: 0; right: 0; font-style: italic; font-family: Georgia, Serif; font-size: 16px; color: #999; font-weight: normal; }
p { margin: 0 0 16px 0; }
a { color: #999; text-decoration: none; border-bottom: 1px dotted #999; }
a:hover { border-bottom-style: solid; color: black; }
ul { margin: 0 0 32px 17px; }
#objective { width: 500px; float: left; }
#objective p { font-family: Georgia, Serif; font-style: italic; color: #03204f; }
dt { font-style: italic; font-weight: bold; font-size: 18px; text-align: right; padding: 0 26px 0 0; width: 150px; float: left; height: 100px; border-right: 1px solid #999;  }
dd { width: 600px; float: right; }
dd.clear { float: none; margin: 0; height: 15px; }

.rounded-borders {
	/*height: 200px;*/
	/*width: 300px;*/
	border-color: #666 #8ebf42;
	border-image: none;
	border-radius: 50px 0 50px 0;
	border-style: solid;
	border-width: 7px;
}

.marked-span::before {
  content: "•"; /* Add your desired symbol or mark here */
  margin-right: 5px; /* Adjust the spacing between the mark and the text */
}

input.CV-DL-Btn { width: 150px; padding: 5px; cursor: pointer; font-weight: bold; font-size: 100%; background: #3366cc; color: #fff; border: 1px; solid #3366cc; border-radius: 5px; }
input.CV-DL-Btn:hover { color: #ffff00; background: #000; border: 1px solid #fff; }

.btn-group button {
  background-color: #4CAF50; /* Green background */
  border: 1px solid green; /* Green border */
  color: black; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
  font-weight: bold;
}

.btn-group button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

/* Clear floats (clearfix hack) */
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #3e8e41;
}

/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.container {
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
}

.skills {
  text-align: right; /* Right-align text */
  padding: 0px; /* Add some padding */
  color: white; /* White text color */
  font-weight: bold;
}

.matlab {width: 90%; background-color: #4CAF50;} /* Green */
.cpp {width: 20%; background-color: #2196F3;} /* Blue */
.java {width: 20%; background-color: #f44336;} /* Red */
.python {width: 20%; background-color: #808080;} /* Dark Grey */
.php {width: 20%; background-color: #802060;} /* Dark Grey */